extends layout

block content
	h1 Welcome to Protobowl Packet Editor
	p this web site is for managing the packets on the protobowl system
	p moderators can revise and edit questions that have been reported and users can upload new packets

