doctype 5
html(lang="en")
	head
		title protobowl packets editor
		link(href="/bootstrap/docs/assets/css/bootstrap.css",rel="stylesheet")
		style
			body {
				padding-top: 60px;
			}
			.sidebar-nav {
				padding: 9px 0;
			}
			.breadcrumb {
				overflow: auto;
			}

		!= LRScript
	body
		div.navbar.navbar-fixed-top
			div.navbar-inner
				div.container-fluid
					a.brand protobowl <b>packets</b> editor
					ul.nav
						li
							a(href="/") home
						li
							a(href="/review") review
						li
							a(href="/new") new
					p.navbar-text.pull-right
						| logged in as admin

		block main
			div.container
				div.row
					div.span3
						div.well.sidebar-nav
							ul.nav.nav-list
								block sidebar
									each type, i in types
										li.nav-header= type
										each year in years[i]
											li(class="#{"blah"}")
												a(href="/#{type}/#{year}")= year

					div.span9
						block content
