extends layout

block main
	script(src="/bootstrap/jquery.js")
	script(src="/bootstrap/elastic.js")
	style
		.pastebox {
			min-height: 400px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			width: 100%;
			resize: vertical; 
			white-space:pre;
			font-size: larger;
			line-height: 1.5
		}
		.well-read {
			background-color: rgba(255, 0, 0, 0.1);
		}
		.well-bonus {
			background-color: rgba(255, 122, 0, 0.1);
		}
		#mirror {
			position: absolute;
			left: -10000px;
		}

		.question {
			padding: 5px;
			border-left: 5px solid rgb(223, 223, 223);
			padding-left: 15px
		}

	script
		$(document).ready(function(){
			$('#paste').elastic()

			$('#paste').keyup(function(){
				process()
			})
			
			process();

		})
		function process(){
			$('#preview').html('')

			var full = $('#paste').val();
			var textarea = $('#paste')[0];
			var mirror = $("#mirror span")[0]
			var lastIndex = 0;

			var offset = document.getElementById('paste').getClientRects()[0].top;
			document.getElementById('preview').style.top = (
				parseInt(document.getElementById('preview').style.top) + 
				(offset - 
					document.getElementById('preview').getClientRects()[0].top)) + 'px';

			var num = 0;

			full.split(/\n\s*\n/).map(function(text){
				var lines = text.trim().split('\n')
				var answer = lines[lines.length - 1]
				var question = lines.slice(0, lines.length - 1).join('\n')

				lastIndex = full.indexOf(text, lastIndex);
				mirror.innerHTML = full.substr(0, lastIndex).replace(/\n$/, "\n\001");
				var rects = mirror.getClientRects(),
					lastRect = rects[rects.length - 1],
					top = lastRect.top - textarea.scrollTop,
					left = lastRect.left + lastRect.width;
				console.log(top)
									
				var host = $('<div>')
					.css('top', top - offset)
					.css('position', 'relative')
					.css('height', 0)
					.appendTo('#preview');
				$('<ol>').addClass('breadcrumb')
					.append($('<li>').text("Question " + num))
					.append($('<li>').addClass('pull-right').text(answer))
					.appendTo(host)
				$('<div>').addClass('question')
					.text(lastRect.top + "   " + text.slice(0, 100))
					.appendTo(host)
			})


			//- var num = 0;
			//- $('.pastebox').val().split(/\n\s*\n/).map(function(text){
			//- 	if(/Bonus/i.test(text)){
			//- 		$('<div>').addClass('well-bonus well')
			//- 			.text("Bonuses are not supported, please remove question.")
			//- 			.appendTo('#preview')
			//- 		return
			//- 	}

			//- 	
			//- 	if(lines.length < 2){
			//- 		$('<div>').addClass('well-read well')
			//- 				.text("This question is missing an answer line.")
			//- 				.appendTo('#preview')
			//- 		return;
			//- 	}

				
			//- 	num++

			//- 	//- $('#preview').append(text)




			//- 	$('<div>').addClass('well')
			//- 		.text(question)
			//- 		.appendTo('#preview')

			//- })
		}

	div.container-fluid
		div.row-fluid
			
			div.span5
				form.form-horizontal
					fieldset
						legend Create New Packet
						.control-group
							label.control-label(for="input01") Question Type
							.controls
								select.input-xlarge(id="input01")

									each type in types
										option(selected=type==default_type)= type
								p.help-block 
									| The question type which this packet belongs to.
									| If you would like a new question type to be added,
									| please email 
									| <a href="mailto:info@protobowl.com">info@protobowl.com</a>
						.control-group
							label.control-label(for="input02") Packet Year
							.controls
								select.input-xlarge(id="input02")
									- var year = 2000
									- var current_year = (new Date).getFullYear()
									- default_year = default_year || current_year
									while year++ < current_year
										option(selected=year==default_year)= year
								p.help-block 
									| The year the packet was used or created.

						.control-group
							label.control-label(for="input02") Tournament Name
							.controls
								input.input-xlarge(type="text", placeholder="PB Regional MS Tournament", value=default_tournament)
								p.help-block 
									| Please use the canonical tournament name
									| for existing entries in the database if
									| one already exists.
						.control-group
							label.control-label(for="input02") Packet Name
							.controls
								input.input-xlarge(type="text", placeholder="2015-rogers02.pdf")
								p.help-block 
									| This is usually just the file name of the
									| packet you are converting this from

				div.well.pastebox#mirror
					span
				textarea.well.pastebox#paste
					| ********************THOMAS JEFFERSON CERTAMEN 2008
					| LEVEL ONE ROUND 1
					| Toss-Up #1 Welcome to the Thomas Jefferson Certamen! Today is February 23rd. Give
					| the Roman numeral for 23.
					| XXIII
					| 
					| Bonus: Give the Latin words for “twenty” and “three.”
					| Vīgintī and trēs
					| 
					| Toss-Up #2 What Etruscan was figuratively crowned by an eagle, and went on to become
					| the fifth king of Rome?
					| Tarquinius Priscus
					| 
					| Bonus: What was the name of his prophetess wife?
					| Tanaquil
					| 
					| Toss Up #3 Name the mythological hero to whom these characters are associated:
					| Aethra, Aegeus, Ariadne, and the Minotaur.
					| Theseus
					|
					| Bonus: What is the familial relation between Ariadne and the Minotaur?
					| Half-sister
					| Toss-Up #4: Which case follows the preposition prope?
					| Accusative
					| Bonus: What about pro?
					| Ablative
					| Toss-Up #5: What does the Latin abbreviation A.D. stand for?
					| anno domini
					| Bonus: What does it mean in English?
					| “in the year of the lord/master”
					| Toss-Up #6 On what hill would you find the homes of the wealthiest Romans?
					| Palatine
					| Bonus: In what section of the city would you find the poorest Romans?
					| Subura
					| Toss-Up #7: Complete the following analogy: unus is to primus as tres is to what?
					| tertius
					| Bonus: Say in Latin: “the last certamen”
					| ultimum certamen
					| Toss Up #8 Here’s some mythological math!
					| Take the number of Muses
					| Add the number of Furies
					| And divide by the number of sandals Jason was wearing upon confronting Pelias:
					| What is the number?
					| (9 + 3) / 1 = 12Bonus: Now, try this:
					| Take the number of years the Trojan War took
					| Subtract the number of Graces
					| Add the number of eyes four Cyclops would have
					| And multiply by the number of ships Helen purportedly launched.
					| What is the number?
					| (10 – 3) + 4) * 1000 = 11,000
					| Toss Up #9 The city of Athens, which was won by regaling the townsfolk with gifts, was
					| a contest between which two gods?
					| Athena and Poseidon / Minerva and Neptune
					| Bonus: What was the winning gift that Athena gave?
					| An olive tree
					| Toss-Up #10 This brave Roman defended the Pons Sublicius single-handedly as it was
					| being destroyed behind him, and then swam back to safety in his armor.
					| Horatius [Cocles]
					| Bonus: What major river did the Pons Sublicius span?
					| Tiber
					| Toss-Up #11 Responde Latine. In what kind of dwellings did plebeian Roman citydwellers
					| typically live?
					| insulae
					| Bonus: What else could “insulae” mean?
					| islands
					| Toss-Up #12: Responde Latine: Quot sunt decem plus novem?
					| undeviginti
					| Bonus: Responde Latine: Quot sunt viginti minus quinque?
					| quindecim
					| Toss-Up #13 What city served as a port for travelers headed for Greece, and marked the
					| end of the Via Appia?
					| Brundisium
					| Bonus: What city was previously the end point of the Via Appia?
					| Capua
					| Toss-Up #14 What pious matron’s rape and eventual suicide led to the end of the
					| Monarchy?
					| Lucretia
					| Bonus: What form of government replaced the monarchy in 509BC?
					| RepublicToss-Up #15 From what Latin verb, with what meaning, do we get the English word
					| “sedentary?”
					| Sedeo/sit
					| Bonus: From what Latin verb, with what meaning, do we get the English word
					| ”navigate?”
					| Navigo/ sail
					| Toss-Up #16: Translate the following sentence: Amasne me?
					| Do you love me?
					| Bonus: Change amas to the imperfect tense, keeping the same person and number:
					| Amabas(ne)
					| Toss-Up #17 Sextus is in the mood for some entertainment. What building in Rome
					| would he visit if he wanted to see chariot races?
					| Circus Maximus
					| Bonus: After watching his favorite team lose several times, Sextus decides chariot races
					| are boring. At the Colloseum he sees a retiarius, with what type of weapons does he
					| fight?
					| Net and Trident
					| Toss-Up #18 What king, deified posthumously as Quirinus, was raised by wolves and
					| grew up to found Rome?
					| Romulus
					| Bonus: Who was the shepherd who first found him and his brother?
					| Faustulus
					| Toss-Up #19: If you wanted to thank one Roman for helping you, what would you say?
					| 
					| “gratias tibi ago”
					| Bonus: If a Roman wanted to know the weather, and it was sunny outside, what would
					| you say?
					| “sol lucet”
					| Toss-Up #20: Valentine’s Day was just over a week ago, and we typically associate that
					| day with love. What is the meaning of the Latin phrase “amor omnia vincit”?
					| Love conquers all (everything)
					| Bonus: Love isn’t always easy, and you have to take responsibility for your own actions.
					| On this note, if someone says “mea culpa,” what do they mean?
					| It is their fault********************THOMAS JEFFERSON CERTAMEN 2008
					| LEVEL ONE ROUND 2
					| Toss-Up #1 A few weeks ago, the New York Giants pulled a stunning upset over the
					| New England Patriots in Super Bowl 42. What is the Roman numeral for 42?
					| XLII
					| Bonus: How would you represent the number 1337 as a Roman numeral?
					| MCCCXXXVII
					| Toss-Up #2 What famous city, said to have been founded by Ascanius, was the origin of
					| Romulus and Remus and conquered by Tullus Hostilius?
					| Alba Longa
					| Bonus: According to legend, who was said to have slain Tullus Hostilius?
					| Juppiter
					| Toss-Up #3 What principal part is used to form the perfect tense?
					| 3rd
					| Bonus: Give the 2nd person, perfect active indicative form of “amō, amārē.”
					| Amāvistī
					| Toss-Up #4. Quis sum? Apollo amat me, sed eum non amo. Mutavi in arborem et nunc
					| sum “laurus”.
					| Daphne
					| Bonus. Quis sum? Sum soror Iovis, et uxor Iovis quoque! Sum regina deorum.
					| Juno
					| TOSSUP #5. Listen to the following passage, which will be read twice and answer the
					| question in English.
					| Duo pueri exerunt e casa eorum et ascenderunt collem. Dum ascendebant collem, pueri
					| viderunt flumen latum. Brevi tempore pueri in summo cole steterunt. Alius puer rogavit,
					| “Cur ascendimus hunc collem?” Alius respondit, “Quod potuimus.”
					| Responde Anglice. What did the boys see when they were climbing the hill?
					| A wide river
					| BONUS. Why did the second boy say that they climbed the hill?
					| (Because) they were able/could
					| Toss-Up #6 What Latin noun with what meaning is at the root of the word
					| “agriculture”?
					| Ager meaning field
					| Bonus: What Latin noun with what meaning is at the root of the word “horticulture”?
					| Hortus, gardenToss-Up #7 Talk about horrible in-laws! What proud king of Rome gained his position
					| by assassinating his own father-in-law?
					| Tarquinius Superbus
					| Bonus: It seems like this entire family has issues with self-control. What was the name of
					| Tarquinius Superbus’ wife, who ran over her own father’s body with her chariot?
					| Tullia
					| Toss-Up #8 What is the 3rd person singular, imperfect form of “iaciō, iacere”?
					| iaciēbat
					| Bonus: Keeping the person and number the same, change “iaciēbat” to the future.
					| Iaciet
					| Toss-up #9 What is the Greek equivalent to Mercury?
					| Hermes
					| Bonus. What is the Greek equivalent to Vulcan?
					| Hephaestos
					| Toss-Up#10 Which of the following does not belong and why? Fortasse, deinde,
					| nōmine, intereā, iam.
					| Nōmine, because all the other words are adverbs and nōmine is a noun
					| Bonus: Which of the following does not belong and why? Puella, pīrāta, pictūra, porta,
					| pecūnia.
					| Pīrāta, because it is masculine while the others are feminine
					| Toss-Up #11 What kind of toga with a thin purple stripe was worn by young boys and
					| some governmental officials?
					| toga praetexta
					| Bonus: What charm was also worn by young boys until they came of age?
					| bulla
					| Toss-Up #12 What curly haired dictator of Rome promptly returned to his farm after
					| saving the Roman army surrounded by a hostile tribe?
					| Cincinnatus
					| Bonus: What was the hostile tribe that he defeated?
					| Aequi
					| Toss-Up#13 Julius Caesar once said “vēnī, vīdī, vīcī.” What tense are the verbs in this
					| statement?
					| Perfect
					| Bonus: Now translate “vēnī, vīdī, vīcī” into English.
					| I came, I saw, I conquered.
					| Toss-up #14 What child of Rhea did she replace with a stone wrapped in swaddling
					| clothes, to prevent her husband Cronus from eating the child?
					| ZeusBonus: To what island was he whisked away, and raised by nymphs?
					| Crete
					| Toss-Up #15 Translate the following sentence into English: “Licetne liberīs legere
					| librum?”
					| Is it allowed for the children to read the book?/
					| Are the children allowed to read the book?
					| Bonus: Being completely alliterative, translate “I gave the tired students to the master”
					| into Latin.
					| Dedī/dābam dēfessōs discipulōs dominō.
					| Toss-Up #16 Which of the following buildings in Rome was the oldest, built during the
					| time of kings? Colosseum, Theatre of Marcellus, Circus Maximus, Baths of Caracalla
					| Circus Maximus
					| Bonus: Using the same list, which building was built by the Flavian emperors near the
					| site of Nero’s Golden House?
					| Colosseum
					| Toss-Up #17 This Sabine king of Rome created the Pontifices as well as the Vestal
					| Virgins:
					| Numa Pompilius
					| Bonus: What nymph was said to have been the teacher of Numa Pompilius?
					| Egeria
					| Toss-Up#18 The Roman poet Horace is the first to have quoted the phrase “carpe
					| diem.” What type of verb is “carpe”?
					| Imperative
					| Bonus: What does the phrase “carpe diem” mean?
					| Seize the day
					| Toss-up # 19 What mythological creature was ½ man ½ horse?
					| Centaur
					| Bonus: Most centaurs were wild, aggressive and unpredictable. However, just like
					| Firenze in the Harry Potter books, there was in classical mythology one friendly centaur
					| known for his wisdom, who was the tutor of several heroes. Name him.
					| Chiron
					| Toss-Up #20 Let’s go to the Cinema Romana! What recent film might the Romans have
					| called “Pecūnia Irāta”?
					| Mad Money
					| Bonus: What 2006 thriller might the Romans have called “Fēmina in Aquā”?
					| Lady in the Water********************THOMAS JEFFERSON CERTAMEN 2008
					| LEVEL ONE ROUND 3
					| Toss-Up#1 Suppose that you woke up one day to find yourself in ancient Rome. If a
					| Roman said to you, “Quaenam est tempestas hodiē?” what would he be asking?
					| About the weather, how the weather is today, etc.
					| Bonus 1: How would you tell the Roman that it is raining out?
					| Pluit
					| Toss-Up#2 What Latin verb with what meaning is at the root of the word “cursive”?
					| Curro, currere – to run
					| Bonus: What Latin verb with what meaning is at the root of the word “visual”?
					| Videō, vidēre meaning to see
					| Toss-Up #3 This general quoted “Alea iacta est.” as he crossed the Rubicon in 49 BC.
					| Name this Roman, and what is the meaning of this phrase?
					| Caesar: “the die has been cast” (accept grammatically correct answers)
					| Bonus: What governing body of the Republic was Caesar defying with this action?
					| Senate
					| Toss-Up #4 Please listen to the following passage, which will be read twice. Then
					| answer in English the questions that follow:
					| In Foro, vidi virum miserum. Ambulavi ad eum et dixi, “Salvē! Quid agis?” “Male,”
					| respondit. “Heri verberabar a praedonibus, ET mea uxor mē reliquit, ET amissi optimam
					| meam togam.” “Estne hodie melior?” rogo “Minime!” inquit vehementer. “Hodie vidi
					| meam uxorem in Foro et ambulabat cum praedone qui gerebat meam togam optimam.
					| Responde Anglice: Name one of the things that happened to the miserable man
					| yesterday:
					| His wife left him, he lost his toga, robbers attacked him.
					| BONUS. Why was today no better?
					| He saw his wife with the robber, who was wearing his best toga
					| Toss-Up#5 If the following sentence were in Latin, in what case would “the girl” be? “I
					| gave the money to the girl.”
					| Dative
					| Bonus. Translate that sentence into Latin.
					| Dedi/ Dabam pecuniam puellaeToss-Up #6 What conjugation is the verb in this sentence? “Dormiō sub arbore”
					| 4th
					| Bonus: What conjugation is the verb in this sentence? “Puer rīdet puellam.”
					| 2nd
					| Toss-Up#7 Differentiate in meaning between “et cetera” and “et aliī.”
					| “Et cetera” means “and the rest”
					| and “et aliī” means “and the others”
					| Bonus: If someone holds a position “pro tempore,” what kind of position is this?
					| For a time, temporary, etc.
					| Toss-Up #8 What Roman maiden led hostages in swimming across the Tiber to escape
					| their Etruscan captors?
					| Cloeilia
					| Bonus: What Etruscan king did she inflame, originally with fury, and then finally with
					| admiration?
					| Lars Porsenna
					| Toss Up #9 : Poseidon has the trident; who has the bident?
					| Hades
					| Bonus: Who has the Thyrsus?
					| Dionysus
					| 
					| Toss-Up #10 The typical term for this office was one year, and after that ten years had to
					| pass before the same person could run for this position again. How many consuls served
					| at a given time?
					| two
					| Bonus: What official was in charge of games, streets, and grain supply?
					| Aedilis/aedile
					| Toss-Up#11 Which of the following prepositions takes only the accusative? Sub, in, dē,
					| circum, ab
					| Circum
					| Bonus: Keeping this in mind, translate just the prepositional phrase from this sentence:
					| “The man walks around the city”
					| circum urbem.
					| Toss-Up #12 What part of a Roman house served as the study?
					| tablinum
					| Bonus: Where would meals be cooked in a Roman house?
					| culinaToss-Up #13 What building in the Forum Romanum housed senate meetings?
					| Curia
					| Bonus: What large halls were centers of business and legal transactions? They later were
					| used as churches by the Christians
					| basilicae
					| Toss-Up #14: Name the Roman god, who among his many jobs, was the god of thieves,
					| led dead souls to the Underworld, was the patron of travelers, and the messenger of the
					| gods?
					| Mercury
					| Bonus: One of Mercury’s symbols was the caduceus. Describe it:
					| A staff with two snakes intertwined
					| Toss-Up#15 Give the Latin and English of Virginia’s state motto?
					| Sic Semper Tyrannis/ Thus always to tyrants
					| Bonus: What crazed man shouted that same phrase before jumping to the stage of Ford’s
					| Theatre and shooting Abraham Lincoln?
					| John Wilkes Booth
					| Toss-Up#16 Let’s have some fun with alliteration! Translate one of the prepositional
					| phrases in the sentence “Aliī amīcī ambulant ad agrōs cum agricolīs.”
					| To the fields or with the farmers
					| Bonus: Now translate the other.
					| See above
					| Toss-Up #17 What were the household gods that protected a Roman family?
					| Lares et Penates
					| Bonus: What was the shrine dedicated to them called?
					| lararium
					| Toss-Up #18 Whom did Octavian defeat at the Battle of Actium?
					| Marc Antony and Cleopatra
					| Bonus: What is the accepted year that marks the beginning of the Roman Empire?
					| 27 BC
					| Toss-Up #19 Complete the analogy. Hercules is to the Hydra as ________ is to Medusa
					| Perseus
					| Toss-Up #20 Welcome back to the Cinema Romana. What recent film would have been
					| called “Occurre Spartanīs”?
					| Meet the Spartans
					| Bonus: What classic science fiction movie series would have the title “Bella Astrōrum”?
					| Star Wars
			div.span7
				div
					h1 paste the packet here
					p this is just a bunch of useless placeholder text
					p the illuminati are here


				form.form-horizontal
					fieldset
						.control-group
							.controls
								button.btn.btn-large Submit for Review

				div#preview(style="top: 0; position: relative")